{% extends 'base.html' %}

{% block titleBlock %}
    首页-新经资讯
{% endblock %}

{% block scriptBlock %}
    <script type="text/javascript" src="../static/news/js/index.js"></script>
{% endblock %}

{% block categoryBlock %}
    <ul class="menu fl">
        {% for category in data.categories %}
            <li class="{% if category.id == 1 %}active{% else %}none{% endif %}" data-cid="{{ category.id }}"><a href="javascript:;">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block contentBlock %}
    <ul class="list_con fl">

    </ul>
{% endblock %}

{% block rankBlock %}
    <div class="rank_title">
        <h3>点击排行</h3>
    </div>
    <ul class="rank_list">
        {% for news in data.newsClicksList %}
            <li><span class="{{ loop.index | do_index_class }}">{{ loop.index }}</span><a href="/news/{{ news.id }}">{{ news.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}